*{
  margin: 0;
  padding: 0;
}
.app_container{
  height: 100vh;
  background-color: #fafafa;
}


.navigationButton{
  display: flex;
  margin: 10px;
  margin-bottom: 0%;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom:0;
  left: 0;
  width: 100%;
  background-color: whitesmoke;
}
.navigationButton button{
  margin: 10px;
  color: black;
 background-color:white;
 border: 1px solid lightgray;
}
.navigationButton button:hover{
  background-color: lightgray;
}